[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = vanstrouble
	email = vanstrouble@proton.me
[init]
	defaultBranch = main
[alias]
	s = status -s -b
	l = log --oneline --decorate --all --graph
	last = log -1 HEAD
# [core]
# 	editor = subl
[color]
	ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
