[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Pedro Vázquez
	email = vanstrouble@proton.me
	signingkey = /Users/vanstrouble/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[alias]
	s = status -s -b
	l = log --oneline --decorate --all --graph
	last = log -1 HEAD
# [core]
# 	editor = subl
[color]
	ui = auto
	status = auto
	branch = auto
	interactive = auto
	diff = auto
[commit]
	sign = true
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/vanstrouble/.ssh/allowed_signers
